<div class="container" id="main-container">
  <div class="row p-1">
    <div class="col-md-6 col-xl-4 py-2" *ngFor="let pcP of pcPortable">
      <div class="card h-100 border-dark m-b-30">
        <div class="card-header bg-transparent">
          <div class="w-50 m-auto d-block">
            <img src="{{pcP.image}}" class="rounded bg-transparent border-dark img-fluid">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{pcP.article}}</h5>
          <p class="card-text">{{pcP.caracteristique}}</p>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
